img {
  height: 20vh;
  width: 20vh;
}
#stadium {
  height: 20vh;
  width: 25vh;
}

.row {
  margin-top: 10px;
}


table {
  background: white;

  th {
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-align: center;
  }

  td {
    color: black;
    text-align: center;
  }

}
