img {
  height: 20vh;
  width: 20vh;
}
#stadium {
  height: 20vh;
  width: 30vh;
}

.row {
  margin-top: 10px;
  //.col-3 {
  //  border: 1px solid black;
  //}
  //.col-9{
  //  border: 1px solid black;
  //}
  //

}


table {
  background: white;

  th {
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-align: center;
  }

  td {
    color: black;
    text-align: center;
  }

}
