.sidebar {
  position: fixed;
  height: 100vh;
  width: 17%;
  background: #3562A6;

  .logo {
    width: 100%;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      color: white;
      padding: 10px;
      border-bottom: 1px solid white;
    }
    li:hover {
      background: #091442;
      transition: linear 300ms;
    }

    li.active {
      background: #6594C0;
    }
  }
}
